{:aliases {:build {:deps {io.github.clojure/tools.build {:mvn/version
                                                           "0.10.3"}},
                   :ns-default build},
           :dev {:extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}},
                 :extra-paths ["dev-resources"]},
           :run-m {:main-opts ["-m" "my.clojure-game-geek"]},
           :run-x {:exec-args {:name "Clojure"},
                   :exec-fn greet,
                   :ns-default my.clojure-game-geek},
           :test {:extra-deps {io.github.cognitect-labs/test-runner
                                 {:git/sha "dfb30dd", :git/tag "v0.5.1"},
                               org.clojure/test.check {:mvn/version "1.1.1"}},
                  :extra-paths ["test"]}},
 :deps {com.walmartlabs/lacinia {:mvn/version "1.2.2"},
        org.clojure/clojure {:mvn/version "1.11.3"}},
 :paths ["src" "resources"]}

